/* use Font Spider to reduce font size: https://github.com/iplus26/font-spider-walker */

@font-face {
  font-family: "Nimbus Sans Ext D";
  font-style: normal;
  font-weight: 400;
  src: local("NimbusSansExtd-Reg"),
    url(./NimbusSanExtD-Reg/font.woff) format("woff"),
    url(./NimbusSanExtD-Reg/font.woff2) format('woff2');
}

@font-face {
  font-family: "Nimbus Sans Ext D";
  font-style: normal;
  font-weight: 700;
  src: local("NimbusSansExtd-Bol"),
    url(./NimbusSanExtD-Bol/font.woff) format("woff"),
    url(./NimbusSanExtD-Bla/font.woff2) format("woff2");
}

@font-face {
  font-family: "Nimbus Sans Ext D";
  font-style: normal;
  font-weight: 900;
  src: local("NimbusSansExtd-Bla"),
    url(./NimbusSanExtD-Bla/font.woff) format("woff"),
    url(./NimbusSanExtD-Bla/font.woff2) format("woff2");
}

@font-face {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 400;
  src: local("NotoSansSC-Regular"),
    url(./NotoSansSC-400/font.woff) format("woff"),
    url(./NotoSansSC-400/font.woff2) format("woff2");
}

@font-face {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 700;
  src: local("NotoSansSC-Bold"),
    url(./NotoSansSC-700/font.woff) format("woff"),
    url(./NotoSansSC-700/font.woff2) format("woff2");
}

@font-face {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 900;
  src: local("NotoSansSC-Black"),
    url(./NotoSansSC-900/font.woff) format("woff"),
    url(./NotoSansSC-900/font.woff2) format("woff2");
}

@font-face {
  font-family: "Glow Sans SC";
  font-style: normal;
  font-weight: 400;
  src: local("GlowSansSC-Extended-Book"), url(./GlowSans-400/GlowSansSC-Extended-Book.ttf) format("ttf")
}

@font-face {
  font-family: "Glow Sans SC";
  font-style: normal;
  font-weight: 700;
  src: local("GlowSansSC-Extended-ExtraBold"), url(./GlowSans-700/GlowSansSC-Extended-ExtraBold.ttf) format("ttf")
}

@font-face {
  font-family: "Glow Sans SC";
  font-style: normal;
  font-weight: 900;
  src: local("GlowSansSC-Extended-Heavy"), url(./GlowSans-900/GlowSansSC-Extended-Heavy.ttf) format("ttf")
}