@import "../../App.scss";

$grid-inner-padding-desktop: 2rem;
$grid-inner-padding-mobile: 1rem;
$grid-inner-size-desktop: calc(
	(100vw - 2 * #{$h-padding-desktop}) / 3 -
		(3 * #{$grid-inner-padding-desktop})
);
$grid-inner-size-tablet: calc(
	(100vw - 2 * #{$h-padding-mobile}) / 3 - (3 * #{$grid-inner-padding-mobile})
);
$grid-inner-size-mobile: calc((100vw - 2 * #{$h-padding-mobile} - 2 * #{$grid-inner-padding-mobile}));

.grid__container {
	display: grid;
	grid-template-columns: repeat(3, 2fr);
	grid-gap: $grid-inner-padding-desktop;
	padding: $v-padding-desktop $h-padding-desktop;
}

.sponsor__container {
	position: relative;
	width: $grid-inner-size-desktop;
	height: calc(#{$grid-inner-size-desktop} / 1.5);
	overflow: hidden;
	padding: $grid-inner-padding-desktop;
	@include transition;
}

.sponsor__container:hover {
	@include hoverEffect;
}

.sponsor__logo {
	align-items: center;
}

.sponsor__description {
	position: absolute;
	bottom: $grid-inner-padding-desktop;
}

.sponsor__description .sponsor__category {
	font-size: 1rem;
	font-weight: 800;
	margin-block-end: 0.5rem;
}

.sponsor__name {
	font-size: 1.5rem;
	font-weight: 400;
}

@media only screen and (max-device-width: 600px) {
	.grid__container {
		padding: $v-padding-mobile $h-padding-mobile;
		grid-template-columns: repeat(1, 1fr);
	}

	.sponsor__container {
		width: $grid-inner-size-mobile;
		height: calc(#{$grid-inner-size-mobile} * 0.8);
		padding: $grid-inner-padding-mobile;
	}
}

@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) and (orientation: portrait) {
	.grid__container {
		padding: $v-padding-mobile $h-padding-mobile;
		grid-gap: $grid-inner-padding-mobile;
	}
	.sponsor__container {
		width: $grid-inner-size-tablet;
		height: calc(#{$grid-inner-size-tablet});
		padding: $grid-inner-padding-mobile;
	}
	.sponsor__description {
		bottom: 1rem;
	}
	.sponsor__description .sponsor__category {
		font-size: 1rem;
	}
	.sponsor__description .sponsor__name {
		font-size: 1.2rem;
	}
}
