@import "../../App.scss";

.figure-gallery .card__container {
	position: relative;
	height: 30vw;
	@include transition;
}

.figure-header {
	width: 100%;
	padding-right: 1rem;
}

.figure-header .detail-header__description {
	margin-block-start: 2rem;
}

.contents {
	overflow: scroll;
	margin-bottom: 8.5rem;
}

.contents__left,
.contents__right {
	//https://stackoverflow.com/questions/17982111/sass-variable-in-css-calc-function
	width: calc((100vw - #{$h-padding-desktop} * 2) / 2);
	display: inline-block;
}

.contents__left {
	float: left;
}

.contents__right {
	float: right;
	padding: $v-padding-desktop $h-padding-desktop $v-padding-desktop 0;
}

.figure-hero__mobile {
	display: none;
}

.figure-article {
	padding: 0 0 $v-padding-desktop $h-padding-desktop;
}

.figure-article h2 {
	font-size: 1.5rem;
	font-weight: 400;
	margin-block-end: 2rem;
}

.figure-article p {
	white-space: pre-wrap;
	line-height: 1.8em;
}

.contents__right__article-images {
	margin-block-start: 2rem;
}

@media only screen and (max-device-width: 600px) {
	.container .contents {
		top: 5rem;
		margin-bottom: 5rem;
	}

	.figure-article {
		padding: 0;
		width: 100%;
	}
}

@media only screen and (max-device-width: 768px) {
	.container .contents__figure {
		top: 0 !important;
		margin-bottom: 0 !important;
	}

	.detail-header__contents {
		flex-wrap: nowrap;
	}

	.contents__left,
	.contents__right {
		width: 80%;
	}

	.contents__right {
		float: unset;
		padding: 0em;
	}

	.figure-hero__mobile {
		display: block;
	}

	.figure-hero__desktop {
		display: none;
	}

	.figure-article {
		padding: 0 0 0 $h-padding-mobile;
	}

	.contents__right__article-images {
		padding: 0 0 0 $h-padding-mobile;
	}
}
