@import '../../App.scss';

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    transition-duration: 0.5s;
}

.navbar__bkgd-active {
    transition-duration: 0.5s;
    background-color: $theme-color;
}

.navbar .navbar__inner {
    height: 100%;
    padding: 2rem 3rem 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.navbar .navbar__brand {
    height: 5rem;
}

.navbar .navbar__logo{
    /* width: 40%; */
    height: 70%;
}

.navbar .navbar__btns {
   display: inline-flex;
}

.navbar .navbar__primary-btn {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1em;
}


.navbar .navbar__icon {
    margin-left: 1.5rem;
    font-size: 1.5em;
}

.navbar .icon_holder {
    position: relative;
    top: -0.1em;
    width: 1.5rem;
    height: 1.5rem;
}

.menu-active {
    display: block;
}
.menu-inactive {
    display: none;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $theme-color;
    height: 100%;
    z-index: 10;
}

.menu .menu__links {
    position: absolute;
    top: 6rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 60vh;
    list-style: none;
    margin-block-start: 2rem;
    padding-inline-start: 3rem;
}

.menu .menu__links > * {
    flex: 0 1 auto;
    margin-right: 4rem;
    margin-bottom: 1.5rem;
}

.menu .menu__text {
    font-size: 8vh;
    font-weight: 900;
    transition-property: -webkit-text-fill-color;
    transition: ease-in-out;
    transition-duration: 0.5s;
    -webkit-text-fill-color: $black;
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: none;
}

.menu .menu__text:hover {
    -webkit-text-fill-color: transparentize($color: $black, $amount: 1);
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: $black;
}

.menu .menu__link > a {
    text-decoration: none;
    color: $black;
}

.menu .menu__bottom {
    position: absolute;
    bottom: 0;
    padding: 2rem 3rem;
    width: 100%;
    height: 10vh;
}

.menu__bottom .menu__buttons {
    display: none;
}

.menu__bottom .text-logo {
    height: 100%;
}

@media screen and (max-width: 600px) {
    .navbar .navbar__inner{
        padding: 1rem $h-padding-mobile 0 $h-padding-mobile;
    }

    .navbar .navbar__brand {
        height: 5rem;
    }

    .navbar__primary-btn {
        // display: none;
        position: fixed;
        width: 4rem;
        bottom: $v-padding-mobile;
        right: $h-padding-mobile;
        // background-color: $theme-color !important;
        // color: $black !important;
    }

    .menu .menu__links {
        top: 5rem;
        margin-block-start: $v-padding-mobile;
        padding-inline-start: $h-padding-mobile;
        flex-wrap: nowrap;
        height: 60vh;
    }

    .menu .menu__links > * {
        flex: 0 1 auto;
        margin-right: 2rem;
        margin-bottom: 1rem;
    }

    .menu .menu__text {
        font-size: 4.5vh;
    }    
    .menu .menu__bottom {
        padding: 1.5rem $h-padding-mobile;
        width: 100%;
        height: 10vh;
        bottom: 5rem;
    }
}