@import '../../App.scss';

footer {
    height: 40vh;
    padding: $v-padding-desktop $h-padding-desktop;
    background: $theme-color;
}

footer .footer__functions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer__socialNetworks {
    display: flex;
}

footer .footer__socialNetworks .icon_holder {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.footer__socialNetworks .icon_holder a > svg {
    width: 100%;
    transition-property: transform;
    transition-duration: 0.3s;
}

.footer__socialNetworks .icon_holder a > svg:hover {
    transform: scale(1.1);
}

footer .footer__backToTop {
    width: 1.5rem;
    height: 1.5rem;
    background-color: $black;
    font-size: 1.5rem;
}

.footer__backToTop .icon_holder {
    position: relative;
    top: -0.2rem;
    width: 1.5rem;
    height: 1.5rem;
}

.footer__backToTop > a {
    font-size: 1.5rem;
    font-weight: 900;
    text-decoration: none;
    color: $white;
}

footer .footer__info {
    position: absolute;
    bottom: 1rem;
    margin: 2rem 0;
    height: 22vh;
    font-size: 0.8rem;
    font-weight: 700;
}

.footer__info a {
    color: $black;
}

footer .footer__logo {
    height: 45%;
}

footer .footer__contacts {
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    color: $black
    // margin
}


.footer__contacts a:hover {
    color: rgba($color: $black, $alpha: 0.5);
}

.footer__copyrights {
    height: 10%;
    color: $black;
    font-weight: 700;
}

.footer__copyrights > svg {
    height: 0.7rem;
    margin: 0 0 0 0.2rem;
    fill: $black;
    position: relative;
    bottom: -0.03rem;
}

@media screen and (max-width: 600px) {
    footer {
        padding: 1.5rem $h-padding-mobile;
    }
}