@import '../../App.scss';

$yOffset: -6vw;

.section__container {
    &-black {
        background-color: $black;
        color: $white;
        width: 100%;
    }
    &-white {
        background-color: $white;
        color: $black;
        width: 100%;
    }
    &-themeColor {
        background-color: $theme-color;
        color: $black;
        width: 100%;
    }
}

.section__header {
    padding: $v-padding-desktop $h-padding-desktop 0 $h-padding-desktop;
    font-weight: 900;
}

.section__header .section__name {
    font-size: 3rem;
    z-index: 10;
}

.section__header .section__name-alt {
    position: relative;
    z-index: 0;
    width: 100%;
    top: $yOffset;
    //cancel the white space left by moving up the element
    margin-bottom: $yOffset;
    font-size: 12vw;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: $black 1px;
    transition-duration: 0.3s;
}

.section__header .section__name-alt:hover {
    -webkit-text-stroke-color: $theme-color;
}

.cards__container {
    position: relative;
    top: $yOffset * 2;
    margin-bottom: $yOffset * 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    padding: 0 $h-padding-desktop $v-padding-desktop $h-padding-desktop;
}

// .cards__scroll {
//     overflow-x: auto;
// }

// .cards__scroll{
//     &::-webkit-scrollbar {
//     display: none;
//     }
//   }

// .cards__container {
//     position: relative;
//     display: flex;
//     flex-direction: row;
//     flex-wrap: nowrap;
//     padding: 0 3rem 4rem 0;
//     overflow: auto;
// }

// .cards__container::-webkit-scrollbar {
//     display: none;
// }

// .cards__container::after {
//   content: "";
//   flex: 0 0 2rem;
// }

.card {
    position: relative;
    height: 40vw;
    width: 100%;
    margin-right: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition-duration: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 20px 20px 50px rgba($color: $black, $alpha: 0.10);
}

.card .card__description {
    position: absolute;
    bottom: 0;
    padding: 2rem 1rem;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.46) 71%);
}

.card__eyebrow {
    margin-bottom: 0.2rem;
}

.card .card__tag {
    font-size: 0.8rem;
    font-weight: 700;
}

.card .card__tag {
    &-red {
        color: $red;
    }
    &-amber {
        color: $amber;
    }
    &-green {
        color: $green;
    }
    &-blue {
        color: $blue;
    }
    &-violet {
        color: $violet;
    }
    &-pink {
        color: $pink;
    }
}

.card__title {
    font-weight: 500;
    color: $white;
}


.sponsors {
    padding: 2rem $h-padding-desktop 5rem $h-padding-desktop;
    // width: 100%;
}

.sponsors > .sponsors__header > span {
    padding-left: 0.5rem;
    font-weight: 700;
}

.sponsors > .sponsors__header > svg {
    height: 0.8rem;
}

.sponsors .sponsors__container {
    margin-top: 1rem;
}

.sponsors .sponsors__logo {
    height: 2rem;
}

@media screen and (max-width: 600px) {
    .section__header {
        overflow: hidden;
        padding: $h-padding-mobile;
    }

    .cards__container {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 0 0 2rem 0;
        width: fit-content;
        -ms-overflow-style: none;
    }

    .card {
        left: $h-padding-mobile;
        min-width: 80vw;
    }

    .card .card__description {
        margin: 1rem 0 2rem 0;
    }

    .sponsors {
        padding: 1rem $h-padding-mobile 4rem $h-padding-mobile;
    }
}