@import '../../App.scss';

.section__container {
    &-black {
        background-color: $black;
        color: $white;
        width: 100%;
    }
    &-white {
        background-color: $white;
        color: $black;
        width: 100%;
    }
    &-themeColor {
        background-color: $theme-color;
        color: $black;
        width: 100%;
    }
}

.section__header {
    padding: $v-padding-desktop $h-padding-desktop;
    font-weight: 800;
}

.cards__scroll {
    overflow-x: auto;
    width: 100%;
}

.cards__container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 3rem 4rem 0;
    width: fit-content;
    overflow: hidden;
    -ms-overflow-style: none;
}

.cards__container::-webkit-scrollbar {
    display: none;
}

.card {
    position: relative;
    flex: 1 1 auto;
    left: $h-padding-desktop;
    min-width: 40vw;
    margin-right: 2rem;
}

.card .card__img-holder {
    width: 100%;
}

.card .card__img {
    width: 100%;
    object-fit: cover;
    // transition-property: transform;
    transition-duration: 0.3s;
}

.card .card__img:hover {
    transform: scale(1.05);
    box-shadow: 20px 20px 50px rgba($color: $black, $alpha: 0.15);
}

.card .card__description {
    margin-top: 1rem;
}

.card__eyebrow {
    margin-bottom: 0.2rem;
}

.card .card__tag {
    font-size: 0.8rem;
    font-weight: 700;
}

.card .card__tag {
    &-red {
        color: $red;
    }
    &-amber {
        color: $amber;
    }
    &-green {
        color: $green;
    }
    &-blue {
        color: $blue;
    }
    &-violet {
        color: $violet;
    }
    &-pink {
        color: $pink;
    }
}

.card .card__title {
    font-weight: 500;
}

.card .card__learnMore {
    margin-block-start: 1rem;
}

.card > a {
    font-weight: 700;
    text-decoration: none;
    color: inherit;
    transition-duration: 0.1s;
    transition-property: color;
}

.card > a:hover {
    color: $theme-color;
}

.sponsors {
    padding: 2rem $h-padding-desktop 5rem $h-padding-desktop;
    // width: 100%;
}

.sponsors > .sponsors__header > span {
    padding-left: 0.5rem;
    font-weight: 700;
}

.sponsors > .sponsors__header > svg {
    height: 0.8rem;
}

.sponsors .sponsors__container {
    margin-top: 1rem;
}

.sponsors .sponsors__logo {
    height: 2rem;
}

@media screen and (max-width: 600px) {
    .section__header {
        overflow: hidden;
        padding: $h-padding-mobile;
    }

    .cards__container {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 0 0 2rem 0;
        width: fit-content;
        -ms-overflow-style: none;
    }

    .card {
        left: $h-padding-mobile;
        min-width: 80vw;
    }

    .card .card__description {
        margin: 1rem 0 2rem 0;
    }

    .sponsors {
        padding: 1rem $h-padding-mobile 4rem $h-padding-mobile;
    }
}