@import '../../App.scss';

.hero__contents {
	@include maxWidth;
}

.hero__container .hero__img {
	position: fixed;
	z-index: -1;
	height: 100%;
	background-position: center;
	background-size: cover;
	position: relative;
}

.ss__cinemadow {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}

.ss__cinemadow .ss__background {
	fill: white;
}
