$black: #000;
$white: #fff;

//color-varients
$theme-color: #f5ff00;
$red: #ff0e0e;
$amber: #ffc20e;
$green: #31ff0e;
$blue: #0efffa;
$violet: #5c0eff;
$pink: #ff0e80;
$grey: grey;

$v-padding-desktop: 2.5rem;
$h-padding-desktop: 4rem;
$v-padding-mobile: 2rem;
$h-padding-mobile: 2rem;

$yOffset: -6vw;

$topOffset-desktop: 8.5rem;
$topOffset-tablet: 6rem;
$topOffset-mobile: 6rem;

//font-size setting
$h1-desktop: 2rem;
$h1-mobile: 1.5rem;
$h2-dekstop: 1.5rem;
$h2-mobile: 1.2rem;

$max-width: 1280px;

h1 {
	font-size: $h1-desktop;
	margin-block-end: 1rem;
}

h2 {
	font-size: $h2-dekstop;
	margin-block-start: 2rem;
	margin-block-end: 1rem;
}

@media screen and (max-width: 600px) {
	h1 {
		font-size: $h1-mobile;
		margin-block-end: 1rem;
	}

	h2 {
		font-size: $h2-mobile;
		margin-block-start: 2rem;
		margin-block-end: 1rem;
	}
}

@mixin maxWidth {
	margin: 0 auto;
	max-width: $max-width;
}

.container {
	position: relative;
}

.container .contents {
	position: relative;
	top: $topOffset-desktop;
	@include maxWidth;
	margin-bottom: $topOffset-desktop;
}

@media screen and (max-width: 600px) {
	.container .contents {
		top: $topOffset-mobile;
	}
}

@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) and (orientation: portrait) {
	.container .contents {
		top: $topOffset-tablet;
	}
}

@mixin hoverEffect {
	transform: scale(1.05);
	box-shadow: 20px 20px 50px rgba($color: $black, $alpha: 0.15);
}

@mixin transition {
	transition-duration: 0.3s;
	transition: ease;
	transition-duration: 0.1s;
}

//button

@mixin resetButton {
	outline: none;
	padding: 0.5rem;
	/* font settings */
	color: $black;
	font-family: "Inter", "source-han-sans-simplified-c", sans-serif;
	font-weight: 900;
	font-size: 1.2rem;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

.btn {
	@include resetButton;
	background-color: $black;
	color: $white;
	border: solid 2px transparent;
	@include transition;
}

.btn:hover {
	border: 2px solid $black;
	background-color: transparent;
	color: $black;
	transform: scale(1.1);
}

.btn:active {
	border: 2px solid $black;
	background-color: $black;
	color: $theme-color;
}

.text-btn {
	@include resetButton;
	padding: 0rem;
	border: 0;
	@include transition;
}

@mixin btnHover {
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0) 50%,
		$theme-color 50%
	);
}

.text-btn:hover {
	@include btnHover;
	border: 0;
	// transform: unset;
}

a {
	text-decoration: none;
	color: inherit;
}

article {
	width: 50%;
}

.article__container {
	padding: 0 $h-padding-desktop $v-padding-desktop $h-padding-desktop;
	display: flex;
}

@media screen and (max-width: 600px) {
	.article__container {
		padding: 0 $h-padding-mobile $v-padding-mobile $h-padding-mobile;
	}

	article {
		margin-block-start: 1rem;
		width: calc(100vw - 2 * #{$v-padding-mobile});
	}

	ul,
	ol {
		padding-inline-start: 1rem;
	}
}

@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) and (orientation: portrait) {
	.article__container {
		padding: 0 $h-padding-mobile $v-padding-mobile $h-padding-mobile;
	}

	article {
		margin-block-start: 1rem;
		width: 60%;
	}
}
