.container {
  position: relative;
}

.hero__container {
  height: 100vh;
}

.hero__container .hero__img {
  height: 100%;
  background-image: url('./img/jeremy-bishop-_CFv3bntQlQ-unsplash.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
}

