@import url('https://rsms.me/inter/inter.css');
html{ 
  font-family: 'Inter', 'source-han-sans-simplified-c', sans-serif; 
}

body {
  margin: 0;
}

h1, h2, h3, h4 {
  margin-block-start: 0;
  margin-block-end: 0;
}

h2 {
  font-size: 2rem;
}