@import "../../App.scss";

.back-btn {
	padding: 0em !important;
	position: relative;
	background-color: transparent;
	opacity: 50%;
	transition-duration: 0.3s;
}

.back-btn:hover {
	opacity: 100%;
}

@mixin header {
	position: relative;
	// height: 50vh;
    padding: $v-padding-desktop $h-padding-desktop;

}

.header {
    @include header;
}

.header .header__text {
	font-size: 4rem;
	font-weight: 900;
}

.header .header__description {
	width: 70%;
	font-size: 1.5rem;
	font-weight: 700;
}

.detail-header {
    @include header;
}

.detail-header__contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.detail-header__contents .detail-header__left {
    width: 70%;
}

.detail-header__left .detail-header__text{
    font-size: 4rem;
	font-weight: 900;
}

.detail-header__left .detail-header__description {
	font-size: 1.5rem;
    font-weight: 700;
    margin-block-start: 0.5rem;
}

.detail-header__left .detail-header__info p{
    display: inline-block;
    margin-block-start: 0;
    margin-inline-end: 2rem;
}

.detail-header__right {
    width: 25%;
}

.detail-header__right .detail-header__prize {
    width: 100%;
    margin-block-end: 1rem;
}