@import "../../App.scss";

.back-btn {
	padding: 0em !important;
	position: relative;
	background-color: transparent;
	opacity: 50%;
	transition-duration: 0.3s;
}

.back-btn:hover {
	opacity: 100% !important;
}

@mixin header {
	position: relative;
	// height: 50vh;
	padding: $v-padding-desktop $h-padding-desktop;
}

@mixin header__tablet {
	position: relative;
	// height: 50vh;
	padding: 1rem $h-padding-mobile;
}

@mixin header__mobile {
	position: relative;
	// height: 50vh;
	padding: 1rem $h-padding-mobile;
}

@mixin headerText {
	font-size: 4rem;
	font-weight: 900;
	white-space: pre;
}

.header {
	@include header;
}

.header .header__text {
	@include headerText;
}

.header .header__description {
	width: 70%;
	font-size: 1.5rem;
	font-weight: 500;
}

.detail-header {
	@include header;
}

.detail-header__contents {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.detail-header__left {
	width: calc(((100vw - #{$h-padding-desktop} * 2) / 10 * 7) - 1rem);
}

.detail-header__left .detail-header__text {
	@include headerText;
}

.detail-header__left .detail-header__description {
	font-size: 2rem;
	font-weight: 500;
	margin-block-start: 0.5rem;
	margin-block-end: 1.5rem;
}

.detail-header__left .detail-header__info p {
	display: inline-block;
	margin-block-start: 0;
	margin-inline-end: 2rem;
}

.detail-header__right {
	width: calc(((100vw - #{$h-padding-desktop} * 2) / 10 * 3) - 1rem);
}

.detail-header__right .detail-header__prize {
	width: 100%;
	margin-block-end: 1rem;
}

@media screen and (max-width: 600px) {
	.header {
		@include header__mobile();
    }
    
	.header .header__text {
		font-size: 2rem;
	}

	.header .header__description {
        width: 100%;
        font-size: 1.2rem;
    }
    
    .detail-header {
        padding: 2rem $h-padding-mobile $v-padding-mobile $h-padding-mobile;
    }

    .detail-header__left {
        width: 100%;
        margin-block-start: 1rem;
    }

    .detail-header__left .detail-header__text {
        font-size: 8vw;
    }

    .detail-header__left .detail-header__description{
        font-size: 6vw;
    }

    .detail-header__right {
        width: 100%;
    }

    .detail-header__contents {
        display: block;
    }

    .detail-header__right {
		width: 80%;
    }
    
    .detail-header__right{
        margin-block-start: 1.5rem;
    }
}

@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) and (orientation: portrait) {
	.header {
		@include header__tablet;
	}

	.header .header__text {
		font-size: 3rem;
	}

	.header .header__description {
		width: 80%;
		font-size: 1.2rem;
	}

	.detail-header {
		padding: $v-padding-mobile $h-padding-mobile;
	}

	.detail-header__left {
		width: calc(((100vw - #{$h-padding-mobile} * 2) / 10 * 7) - 1rem);
	}
	.detail-header__right {
		width: calc(((100vw - #{$h-padding-mobile} * 2) / 10 * 3) - 1rem);
	}

	.detail-header__left .detail-header__text {
		font-size: 3rem;
	}
	.detail-header__left .detail-header__description {
		font-size: 1.5rem;
	}
}
