@import "../../App.scss";

.fast-links,
.docs {
	padding: 0 $h-padding-desktop $v-padding-desktop $h-padding-desktop;
}

.fast-links > a {
	padding-right: 1rem;
}

article p,
article li {
	line-height: 1.8rem;
	margin-block-end: 0.8rem;
	// list-style: none;
}

article .highlight {
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0) 50%,
		$theme-color 50%
	);
}

article li p {
	margin-block-start: 0rem;
	margin-block-end: 0rem;
}

article a {
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0) 50%,
		$theme-color 50%
	);
	font-weight: 600;
}

article .contact-block {
	margin-block-start: 2rem;
	margin-block-end: 2rem;
	background-color: rgba($color: $theme-color, $alpha: 1);
	padding: 1rem;
}

.sidebar {
	margin-right: $h-padding-desktop;
}

.sidebar .sidebar__menu a {
	display: block;
	font-weight: 600;
	font-size: 1.2rem;
	margin-block-start: 1rem;
	margin-block-end: 1rem;
}

.sidebar .sidebar__menu a:hover {
	@include btnHover;
}

.sidebar .sidebar__contacts h2 {
	white-space: pre-wrap;
}

.sidebar .sidebar__contacts p {
	margin-block-start: 0.5rem;
	margin-block-end: 0.5rem;
}

.sidebar__contacts .contact-name {
	font-weight: 600;
}

.sidebar__mobile .sidebar {
	display: none;
}

.menu-btn {
	@include resetButton;
	display: none;
	position: fixed;
	bottom: $v-padding-mobile;
	@include transition;
	transition-property: width;
	width: 3rem;
	height: 3rem;
	background-color: $black;
	color: $white;
	border: none;
}

.menu-btn .icon_holder {
	width: 1.5rem;
	transform: rotate(-90deg);
	@include transition;
}

.menu-btn:focus,
.menu-btn:active {
	width: 5rem;
}

@media screen and (max-width: 600px) {
	.fast-links {
		padding: 0 $h-padding-mobile $v-padding-mobile $h-padding-mobile;
	}

	.article__container .sidebar {
		display: none;
	}

	.sidebar__mobile .sidebar {
		display: block;
	}

	.menu-btn {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.sidebar__mobile .sidebar {
		position: fixed;
		width: 100vw;
		height: 100vh;
		background-color: $black;
		padding: 0 $h-padding-mobile;
		color: $white;
	}

	.sidebar__mobile a {
		color: $theme-color;
	}
}

@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) and (orientation: portrait) {
	.fast-links {
		padding: 0 $h-padding-mobile $v-padding-mobile $h-padding-mobile;
	}

	article {
		width: 100%;
	}
}
