@import '../../App.scss';
@import '../../components/sections/styles.scss';

@mixin hoverEffect {
    transform: scale(1.05);
    box-shadow: 20px 20px 50px rgba($color: $black, $alpha: 0.15);
}

@mixin transition {
    transition-duration: 0.3s;
}

.search__container {
    position: relative;
    height: 10vh;
    padding: 0 $h-padding-desktop $v-padding-desktop $h-padding-desktop;
}

.search__container .search__input {
    width: 100%;
    overflow: hidden;
    border-width: 0;
    border-style: none;
    border-image: none;
    color: $grey;
    font-family: inherit;
    font-size: 2rem;
    font-weight: 700;
    background-color: transparentize($color: $black, $amount: 0.95);
    padding: 1rem;
    // border-bottom-width: 3px;
    // border-bottom-style: solid;
    // border-bottom-color: $grey;
    transition-duration: 0.1s;
}

.search__container .search__input:hover {
    transform: scale(1.05);
    border: 3px solid $black;
    background-color: transparent;
    color: $black;
}

.search__container .search__input:focus {
    border: 3px solid $black;
    background-color: transparent;
    outline: 0;
    color: $black;
}

.search__container .search__input::after {
    border: 3px solid $black;
    background-color: transparent;
    outline: 0;
    color: $black;
}

.showcase {
    width: 100%;
    overflow-x: hidden;
}

.showcase__heading, .showcase__heading-alt {
    padding: 0 $h-padding-desktop;
}

.showcase__heading > h2{
    font-size: 3rem;
    z-index: 10;
    display: inline-flex;
    // flex-wrap: nowrap;
    justify-content: space-between;
}

.showcase__heading-alt {
    position: relative;
    z-index: 0;
    width: 100vw;
    top: $yOffset;
    //cancel the white space left by moving up the element
    margin-bottom: $yOffset;
    font-size: 12vw;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: $black 1px;
    transition-duration: 0.3s;
}

.showcase__heading, .showcase__heading-alt:hover {
    -webkit-text-stroke-color: $theme-color;
}

.showcase__gallery {
    position: relative;
    top: $yOffset * 1.5;
    margin-bottom: $yOffset * 1.5;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding: $v-padding-desktop $h-padding-desktop 5rem $h-padding-desktop;
}

.showcase__link {
    padding: $v-padding-desktop 0;
}

.film-card__container {
    position: relative;
    height: 30vw;
    @include transition;
}

.film-card__container:hover {
    @include hoverEffect;
}

.film-card__content {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.film-card__info {
    padding: 2rem;
    color: $black;
    // background: linear-gradient(180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.46) 80%)
}

.film-card__title {
    font-size: 2rem;
    font-weight: 800;
}

.film-card__director {
    font-size: 1.5rem;
    font-weight: 400;
}

.film-card__award {
    display: block;
    margin-block-start: 3rem;
    width: 45%;
}

.description__container {
    padding: $v-padding-desktop $h-padding-desktop;
    overflow: hidden;
}

.description__left {
    display: inline-block;
    width: 40%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.description__right {
    width: 48%;
    float: right;
}

.film-detail__description {
    font-size: 1.2rem;
    font-weight: 300;
    white-space: pre-line;
    margin-block-end: 4rem;
}

.description__heading {
    font-size: 1.2rem;
    font-weight: 600;
}

@mixin asset {
    width: 100%;
    height: 30vw;
    display: block;
    margin-block-end: 2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include transition;
}

.description__img {
    @include asset;
}

.description__img:hover {
    @include hoverEffect;
}

.description__vid {
    @include asset;
}

.description__vid:hover {
    @include hoverEffect;
}

.description__vid .vid__playBtn {
    @include resetButton;
    width: 20%;
    text-align: left;
    background-color: $theme-color;
}

//Semi-Finalists

#semi-finalists{
    padding: 0 $h-padding-desktop $v-padding-desktop $h-padding-desktop;
}

#semi-finalists thead {
    text-align: left;
}

#semi-finalists td {
    padding-right: 2rem;
}

thead > tr {
    font-size: 1rem;
}

tbody > tr {
    border-collapse: separate;
    border-spacing: 0 0.5rem;
    font-size: 1.2rem;
    @include transition;
}

tbody > tr:hover {
    @include hoverEffect;
}

.table__film-title > td, .table__film-director > td {
    display: block;
}

.table__film-title > .chn, .table__film-director > .chn {
    font-size: 1.5rem;
    font-weight: 600;
}

.table__film-title > .eng {
    font-style: italic;
}