@import '../../App.scss';

.search__container {
    position: relative;
    height: 10vh;
    padding: 0 $h-padding-desktop $v-padding-desktop $h-padding-desktop;
}

.search__container .search__input {
    width: 100%;
    overflow: hidden;
    border-width: 0;
    border-style: none;
    border-image: none;
    color: $grey;
    font-family: inherit;
    font-size: 2rem;
    font-weight: 700;
    background-color: transparentize($color: $black, $amount: 0.95);
    padding: 1rem;
    // border-bottom-width: 3px;
    // border-bottom-style: solid;
    // border-bottom-color: $grey;
    transition-duration: 0.1s;
}

.search__container .search__input:hover {
    transform: scale(1.05);
    border: 3px solid $black;
    background-color: transparent;
    color: $black;
}

.search__container .search__input:focus {
    border: 3px solid $black;
    background-color: transparent;
    outline: 0;
    color: $black;
}

.search__container .search__input::after {
    border: 3px solid $black;
    background-color: transparent;
    outline: 0;
    color: $black;
}

.showcase__gallery {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding: $v-padding-desktop $h-padding-desktop 5rem $h-padding-desktop;
}

.film-card__container {
    position: relative;
    height: 30vw;
    transition-duration: 0.3s;
}

.film-card__container:hover {
    transform: scale(1.05);
    box-shadow: 20px 20px 50px rgba($color: $black, $alpha: 0.15);
}

.film-card__content {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.film-card__info {
    padding: 2rem;
    color: $black;
    // background: linear-gradient(180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.46) 80%)
}

.film-card__title {
    font-size: 2rem;
    font-weight: 800;
}

.film-card__director {
    font-size: 1.5rem;
    font-weight: 400;
}

.description__container {
    padding: $v-padding-desktop $h-padding-desktop;
    overflow: hidden;
}

.description__left {
    display: inline-block;
    width: 40%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.description__right {
    width: 48%;
    float: right;
}

.film-detail__description {
    font-size: 1.2rem;
    font-weight: 300;
    white-space: pre-line;
    margin-block-end: 4rem;
}

.description__heading {
    font-size: 1.2rem;
    font-weight: 600;
}

.description__right img {
    width: 100%;
    display: block;
    margin-block-end: 2rem;
}