@import "../../App.scss";
// @import '../../components/sections/styles.scss';

.search__container {
	position: relative;
	height: 10vh;
	padding: 0 $h-padding-desktop $v-padding-desktop $h-padding-desktop;
}

.search__container .search__input {
	width: 100%;
	overflow: hidden;
	border-width: 0;
	border-style: none;
	border-image: none;
	color: $grey;
	font-family: inherit;
	font-size: 2rem;
	font-weight: 700;
	background-color: transparentize($color: $black, $amount: 0.95);
	padding: 1rem;
	// border-bottom-width: 3px;
	// border-bottom-style: solid;
	// border-bottom-color: $grey;
	transition-duration: 0.1s;
}

.search__container .search__input:hover {
	transform: scale(1.05);
	border: 3px solid $black;
	background-color: transparent;
	color: $black;
}

.search__container .search__input:focus {
	border: 3px solid $black;
	background-color: transparent;
	outline: 0;
	color: $black;
}

.search__container .search__input::after {
	border: 3px solid $black;
	background-color: transparent;
	outline: 0;
	color: $black;
}

.showcase-gallery {
	top: $yOffset * 1.5;
	margin-bottom: $yOffset * 1.5;
}

.description__container {
	padding: $v-padding-desktop $h-padding-desktop;
	overflow: hidden;
}

.description__left {
	display: inline-block;
	width: 40%;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.description__right {
	width: 48%;
	float: right;
	display: grid;
	grid-template-rows: repeat(auto-fit, minmax(240px, 1fr));
}

.film-detail__description {
	font-size: 1.2rem;
	font-weight: 300;
	white-space: pre-line;
	margin-block-end: 4rem;
}

.description__heading {
	font-size: 1.2rem;
	font-weight: 600;
}

@mixin asset {
	width: 100%;
	height: 30vw;
	display: block;
	margin-block-end: 2rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	@include transition;
}

.description__img {
	@include asset;
}

.description__img:hover {
	@include hoverEffect;
}

.description__vid {
	@include asset;
}

.description__vid:hover {
	@include hoverEffect;
}

.description__vid .vid__playBtn {
	@include resetButton;
	width: 20%;
	text-align: left;
	background-color: $theme-color;
}

//Semi-Finalists

#semi-finalists {
	padding: 0 $h-padding-desktop $v-padding-desktop $h-padding-desktop;
}

#semi-finalists thead {
	text-align: left;
}

#semi-finalists td {
	padding-right: 2rem;
	vertical-align: text-top;
}

thead > tr {
	font-size: 1rem;
}

tbody > tr {
	border-collapse: separate;
	@include transition;
}

.table__row > tr:hover {
	@include hoverEffect;
}

.table__film-title,
.table__film-director {
	padding: 0.5rem 0;
}

.table__film-title td,
.table__film-director td {
	display: block;
}

.table__film-title .chn,
.table__film-director .chn {
	font-size: 1.5rem;
	font-weight: 600;
}

.table__film-title .eng,
.table__film-director .eng {
	font-size: 1.2rem;
}

.table__film-title > .eng {
	font-style: italic;
}

@media only screen and (max-device-width: 600px) {
	.showcase-gallery {
		top: 0;
		margin-bottom: 0;
	}

	.description__container {
		padding: $v-padding-mobile $h-padding-mobile;
	}

	.description__left {
		width: 100%;
	}

	.description__right {
		width: 100%;
		float: none;
		display: flex;
		flex-wrap: wrap;
	}

	.description__right > div {
		height: 50vw;
	}

	#semi-finalists {
		padding: $h-padding-mobile !important;
	}

	#semi-finalists td {
		padding: 0;
	}

	.table__film-title .chn,
	.table__film-director .chn {
		font-size: 1rem;
	}

	.table__film-title .eng,
	.table__film-director .eng {
		font-size: 0.8rem;
	}
}

@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) and (orientation: portrait) {
	.description__container {
		padding: $v-padding-mobile $h-padding-mobile;
	}

	.description__left {
		width: 80%;
	}

	.description__right {
		float: left;
		width: 100%;
		grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
		grid-gap: 1rem;
	}

	.description__vid .vid__playBtn {
		width: 40%;
	}

	#semi-finalists {
		padding: $h-padding-mobile !important;
	}

	.table__film-title .chn,
	.table__film-director .chn {
		font-size: 1.2rem;
		font-weight: 600;
	}

	.table__film-title .eng,
	.table__film-director .eng {
		font-size: 1rem;
	}
}
